export FB_PAGE_ACCESS_TOKEN="your-fb-page-access-token"
export MESSENGER_VERIFY_TOKEN="your-messenger-verify-token"
export MESSENGER_URL="https://graph.facebook.com/v14.0"
export COINGECKO_URL="https://api.coingecko.com/api/v3"


# Overwrite default values with your own custom values
[ -f .envrc.custom ] && source .envrc.custom